*{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
  }
  
  #mathDiv{
    border: 3px solid black;
    text-align: center;
  
  }
  
  .center-div
  {
       margin: 0 auto;
       width: 300px; 
       background-color: gray;
       border-radius: 20px;
  }
  
  button{
    border-radius: 10px;
    font-size: 25px;
    background-color: #ffdb78;
  }
  
  p{
    font-size: 25px;
    font-weight: bold;
  }
  
  #bottom{
    border-bottom: 3px solid black;
    padding-bottom: 40px;
    width: 100%;
    
  }